// Colors
$dark: #2c4251;
$white: #fefdfd;
$tomato: rgb(177, 47, 47);
$big-stone: #171f3f;
$light-gray: #f5f7fa;
$light-white: #ffffff;
$black: #404040;
$light-dark: #3f5360;
$blue: #2b5083;
$light-blue: #a2b9da;
$dark-blue: #0b0555;
$green: #2f9482;
