@mixin burgerBtn {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: $white;
  transition: width 0.3s;
  background-color: $white;
}

// @mixin images($bgImg) {
//   background-image: url($bgImg);
//   background-size: cover;
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   top: 0;
//   left: 0;
// }
